main {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(10, 10fr);
    grid-template-rows: repeat(10 ,10fr);
    background: black;
    gap: 5px;
}

.item{
    background:white;
}