{% extends 'base.html' %}

{% block content %}
<h1>Our Mission at KangaKollecta's</h1>
<div class="card">
    <div class="card-content">
        We <em>love</em> to learn. We love it so much that we've made it our organizations mission to document which species ride kangaroos! This is incredibly important work and we hope that you'll support us in this mission. To date, our record has been with Willy the Wallabee riding <em>CHADDIUS</em> for a whopping 807.3 seconds. Incredible. Due to the magnitude of this finding, we have been awarded nearly 374 MILLION(ths) of ONE BILLION dollars by the Bill and Mellinda Gates foundation.
    </div>
</div>
{% endblock %}